{% extends "base_template.html" %} {% block title %} {{catalog.id}} {% endblock %} {% block content %} {% block cipacDrawersMenu %}
<ul class="nav justify-content-center">
    {% for drawer_id in card.catalog.drawers_menu.keys() %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href=' ../{{card.catalog.drawers_menu[drawer_id]}} '>{{drawer_id}}</a>
    </li>
    {% endfor%}
</ul>
{% endblock %}
<div id="cipac_card_area" class="container">
    <div class="row">
        <div id="cipac_card_left_column" class="col">
            <div id="cipac_card" class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='
                                ../{{card.catalog.get_random_card()}}'>Random</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <img src={{card.url_image.geturl()}} class="rounded
                        float-start" alt={{card.ocr_text}}}>
                </div>
                <div class="card-footer">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=' ../{{card.coordinate_ids["previous" ]}}'>Previous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{card.coordinates["actual"]}}/{{card.coordinates["last_card"]}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='
                                ../{{card.coordinate_ids["next" ]}} '>Next</a>
                        </li>
                    </ul>

                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=' ../{{card.coordinate_ids["first" ]}} '>First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["eighth" ]}} '>1/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["quarter" ]}} '>2/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["three_eighths" ]}} '>3/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["half" ]}} '>Half</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["five_eighths" ]}} '>5/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["three_quarters" ]}}
                                '>6/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["seven_eighths" ]}} '>7/8</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href='
                                ../{{card.coordinate_ids["last_card" ]}} '>Last</a>
                        </li>
                        <!-- <a href=' ../{{card.coordinate_ids["first"]}} ' class="card-link">First</a>
                        <a href=' ../{{card.coordinate_ids["eighth"]}} ' class="card-link">{{card.coordinates["eighth"]}}</a>
                        <a href=' ../{{card.coordinate_ids["quarter"]}} ' class="card-link">{{card.coordinates["quarter"]}}</a>
                        <a href=' ../{{card.coordinate_ids["three_eighths"]}} ' class="card-link">{{card.coordinates["three_eighths"]}}</a>
                        <a href=' ../{{card.coordinate_ids["half"]}} ' class="card-link">Half</a>
                        <a href=' ../{{card.coordinate_ids["five_eighths"]}} ' class="card-link">{{card.coordinates["five_eighths"]}}</a>
                        <a href=' ../{{card.coordinate_ids["three_quarters"]}} ' class="card-link">{{card.coordinates["three_quarters"]}}</a>
                        <a href=' ../{{card.coordinate_ids["seven_eighths"]}} ' class="card-link">{{card.coordinates["seven_eighths"]}}</a>
                        <a href=' ../{{card.coordinate_ids["last_card"]}} ' class="card-link">Last</a> -->
                    </ul>
                </div>
            </div>
        </div>
        <div id="cipac_right_column" class="col">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='
                                ../{{card.catalog.get_random_card()}}'>Random</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text"> {{card.ocr_text}}
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}