{% extends "base_template.html" %} {% block title %}{{catalog.id}} {% endblock %} {% block content %}

<body id="cipac">
    <div id="cipacPage" class="container">

        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> A</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0010001" alt="0010001"> A </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> B</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0020001" alt="0020001"> B </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> C</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0030001" alt="0030001"> Ca-Ce </a>
                </li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0040001" alt="0040001"> Ci-Cua </a>
                </li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0050001" alt="0050001"> Cuba-Cuba J
                    </a></li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0060001" alt="0060001"> Cuba L-Cuy
                    </a></li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0070001" alt="0070001"> Ch-D </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> D</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0070001" alt="0070001"> Ch-D </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> E</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0080001" alt="0080001"> E </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> F</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0090001" alt="0090001"> F </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> G</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0100001" alt="0100001"> Ga-Go </a>
                </li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0110001" alt="0110001"> Goo-Guz </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> H</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0120001" alt="0120001"> H-Iz </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> I</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0120001" alt="0120001"> H-Iz </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> J</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0130001" alt="0130001"> J-Llu </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> K</button>
            <ul class="dropdown-menu" role="menu"></ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> L</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0130001" alt="0130001"> J-Llu </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> M</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0140001" alt="0140001"> M-Maz </a>
                </li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0150001" alt="0150001"> Me-Mu </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> N</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0160001" alt="0160001"> N-O </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Ñ</button>
            <ul class="dropdown-menu" role="menu"></ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> O</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0160001" alt="0160001"> N-O </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> P</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0170001" alt="0170001"> P </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Q</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0180001" alt="0180001"> Q-Rey </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> R</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0180001" alt="0180001"> Q-Rey </a>
                </li>
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0190001" alt="0190001"> Ri-Ru </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> S</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0200001" alt="0200001"> S </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> T</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0210001" alt="0210001"> T </a></li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> U</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0220001" alt="0220001"> U-V </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> V</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0220001" alt="0220001"> U-V </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> W</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0230001" alt="0230001"> W-X_Y_Z </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> X</button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://bnjm.sld.cu/cgi-bin/item.py?idficha=bnjmsculyfof0230001" alt="0230001"> W-X_Y_Z </a>
                </li>
            </ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Y</button>
            <ul class="dropdown-menu" role="menu"></ul>
        </div>
        <div class="btn-group btn-group-sm"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Z</button>
            <ul class="dropdown-menu" role="menu"></ul>
        </div>
    </div>
</body>
{% endblock %}